@font-face {
  font-family: "TTNorms";
  src: url("../common/fonts/TTNorms/TTNorms-Bold.woff2") format("woff2"), url("../common/fonts/TTNorms/TTNorms-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../common/fonts/TTNorms/TTNorms-Medium.woff2") format("woff2"), url("../common/fonts/TTNorms/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../common/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../common/fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  color: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

img {
  width: 100%;
}

.fancybox-close-small {
  display: none !important;
}
.fancybox-close-small.db {
  width: 40px;
  display: block !important;
}

.fancybox-content {
  padding: 0 !important;
  background: inherit !important;
  overflow: initial !important;
}
.fancybox-content button {
  top: -230px !important;
}
.fancybox-content button svg {
  max-width: 14px;
  transform: translate(-50%, 0);
}
.fancybox-content button svg path {
  fill: white;
}
@media (min-width: 600px) {
  .fancybox-content button {
    right: -150px !important;
  }
}
@media (min-width: 991px) {
  .fancybox-content button {
    right: -270px !important;
  }
}
.fancybox-content .form__title {
  color: white;
}
@media (min-width: 991px) {
  .fancybox-content .form {
    width: 42.1rem;
    max-width: 42.1rem;
  }
}
.fancybox-content .form__title {
  font-size: 24px;
  line-height: 30px;
}
@media (min-width: 1440px) {
  .fancybox-content .form__title {
    font-size: 32px;
    line-height: 39px;
  }
}
@media (min-width: 1440px) {
  .fancybox-content .form__inputs {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .fancybox-content .form__input {
    max-height: 73px;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1440px) {
  .fancybox-content .form .button {
    max-height: 73px;
  }
}

.fancybox-slide--html {
  background: #851B5B;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 575px) {
  .container {
    max-width: 60rem;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 88.2rem;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 100rem;
  }
}

.title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
}
@media (min-width: 991px) {
  .title {
    font-size: 3.2rem;
  }
}
@media (min-width: 1440px) {
  .title {
    font-size: 3rem;
  }
}

.text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
}
@media (min-width: 1440px) {
  .text {
    font-size: 1.25rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.9rem;
  background: #F74F99;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  border: none;
  border-radius: 7.53049px;
  cursor: pointer;
  transition: 0.25s;
}
.button:hover {
  filter: brightness(0.9);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .header__container {
    align-items: flex-start;
  }
}
.header__logo {
  max-width: 8.9rem;
}
.header .change-lang {
  color: #F74F99;
  padding: 0 9px 0 10px;
  border: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  width: 62px;
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 33rem;
  margin: 0 auto;
  gap: 1.5rem;
}
.form__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.46rem;
  line-height: 3rem;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1440px) {
  .form__inputs {
    flex-direction: row;
  }
}
.form__input {
  height: 5.9rem;
  width: 100%;
  max-height: 5.9rem;
  background: white;
  border-radius: 7.53px;
  padding: 0 2.1rem;
  border: white solid 1.25px;
  font-weight: 500;
  font-size: 1.97rem;
  line-height: 2.4rem;
}
.form__button-tab {
  display: none;
}

.main {
  padding: 1.5rem 0 5.5rem;
  background: url("../img/main/bg.png") 50% top/100% 100% no-repeat, radial-gradient(72.06% 227.74% at 72.06% 50%, #C93483 0%, #6D114C 100%);
  color: white;
}
@media (min-width: 991px) {
  .main {
    padding: 2.2rem 0 2.5rem;
    background: url("../img/main/bg_tab.png") center center/100% 100% no-repeat;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .main {
    background: url("../img/main/bg_desc.png") center center/100% 100% no-repeat;
  }
}
.main__title {
  margin: 1.7rem 0 1.9rem;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  max-width: 33rem;
}
@media (min-width: 991px) {
  .main__title {
    margin: 0.9rem 0 1.5rem;
    max-width: 35rem;
  }
}
@media (min-width: 1440px) {
  .main__title {
    margin: 0 0 1.5rem;
  }
}
.main__subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  max-width: 30.2rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 991px) {
  .main__subtitle {
    max-width: 30.2rem;
    margin-bottom: 1.2rem;
  }
}
.main__img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 35rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 991px) {
  .main__img {
    position: absolute;
    width: 70%;
    max-width: 55rem;
    right: 5%;
    bottom: 0;
  }
}
@media (min-width: 1440px) {
  .main__img {
    width: 39%;
    right: 6%;
    max-width: 60rem;
  }
}
@media (min-width: 1800px) {
  .main__img {
    width: 43%;
  }
}
@media (min-width: 991px) {
  .main .form {
    margin-left: 0;
    position: relative;
    padding: 2.4rem 4.375rem 3.7rem 0;
    z-index: 1;
  }
  .main .form__title {
    text-align: left;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .main .form__input {
    color: #212121;
    max-width: 25rem;
    max-height: 4.8rem;
    border-radius: 6.1083px;
  }
  .main .form__button {
    max-height: 4.8rem;
  }
  .main .form__button-mob {
    display: none;
  }
  .main .form__button-tab {
    max-width: 25rem;
    display: block;
    border-radius: 6.1083px;
  }
}
@media (min-width: 1440px) {
  .main .form {
    max-width: 55rem;
  }
  .main .form__title br {
    display: none;
  }
  .main .form__input {
    font-size: 1.8rem;
    border-radius: 12px;
  }
  .main .form__button-tab {
    max-height: 4.8rem;
    font-size: 2.4rem;
    border-radius: 12px;
  }
}

.advantages {
  padding: 5.5rem 0;
  position: relative;
}
@media (min-width: 1440px) {
  .advantages {
    padding: 2rem 0 3rem;
  }
}
.advantages__img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 3.5rem;
}
@media (min-width: 1440px) {
  .advantages__img {
    display: block;
    margin: 0 auto;
    max-width: 71.5%;
  }
}
.advantages__items {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 991px) {
  .advantages__items {
    justify-content: space-between;
  }
}
.advantages__items-item {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .advantages__items-item {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .advantages__items-item {
    position: absolute;
    max-width: 34.4rem;
  }
  .advantages__items-item:nth-child(1) {
    top: 193px;
    transform: translate(15%, 0);
    text-align: right;
    max-width: 534px;
  }
  .advantages__items-item:nth-child(1) img {
    order: 1;
  }
  .advantages__items-item:nth-child(2) {
    top: 390px;
    transform: translate(-5%, 0);
    text-align: right;
    max-width: 526px;
  }
  .advantages__items-item:nth-child(2) img {
    order: 1;
  }
  .advantages__items-item:nth-child(3) {
    top: 630px;
    transform: translate(-20%, 0);
    text-align: right;
    max-width: 447px;
  }
  .advantages__items-item:nth-child(3) img {
    order: 1;
  }
  .advantages__items-item:nth-child(4) {
    top: 201px;
    right: 10%;
    transform: translate(-10%, 0);
    max-width: 379px;
  }
  .advantages__items-item:nth-child(5) {
    top: 373px;
    right: 2%;
    transform: translate(-10%, 0);
    max-width: 384px;
  }
  .advantages__items-item:nth-child(6) {
    top: 549px;
    right: 0%;
    transform: translate(-7%, 0);
    max-width: 393px;
  }
}
@media (min-width: 1600px) {
  .advantages__items-item:nth-child(4) {
    max-width: 400px;
  }
  .advantages__items-item:nth-child(5) {
    max-width: 450px;
  }
  .advantages__items-item:nth-child(6) {
    max-width: 450px;
  }
}
@media (min-width: 1880px) {
  .advantages__items-item:nth-child(4) {
    max-width: 517px;
    right: 50%;
    transform: translate(140%, 0);
  }
  .advantages__items-item:nth-child(5) {
    max-width: 517px;
    right: 50%;
    transform: translate(165%, 0);
  }
  .advantages__items-item:nth-child(6) {
    max-width: 550px;
    right: 50%;
    transform: translate(170%, 0);
  }
}
.advantages__items-img {
  border-radius: 50%;
  width: 100%;
  width: 4.7rem;
  height: 5.5em;
}
.symptoms {
  padding: 4rem 0;
  position: relative;
}
@media (min-width: 1440px) {
  .symptoms {
    padding: 5rem 0 5.6rem;
  }
}
.symptoms__title {
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .symptoms__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1440px) {
  .symptoms__title {
    max-width: 40rem;
  }
}
.symptoms__list {
  margin-bottom: 3.77rem;
}
.symptoms__list-item {
  list-style: none;
  padding-left: 2.5rem;
  position: relative;
}
.symptoms__list-item:before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 1.225rem;
  top: 1.05rem;
}
@media (min-width: 991px) {
  .symptoms__list-item {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 991px) {
  .symptoms__list {
    max-width: 38.6rem;
  }
}
.symptoms__img {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  margin-bottom: 2.9rem;
}
@media (min-width: 991px) {
  .symptoms__img {
    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 45%;
  }
}
@media (min-width: 1800px) {
  .symptoms__img {
    max-width: 842px;
    transform: translate(100%, -50%);
    right: 50%;
  }
}
.symptoms__btn {
  font-size: 1.8rem;
}
@media (min-width: 991px) {
  .symptoms__btn {
    max-width: 33rem;
  }
}
@media (min-width: 1440px) {
  .symptoms__btn {
    max-height: 5rem;
  }
}

.reasons {
  padding: 4rem 0;
}
.reasons__wrapper {
  padding: 4.8rem 1.4rem 7rem 1.5rem;
  background: #FFF0F9;
  border-radius: 4.37931px;
  margin: 0 auto;
  max-width: 38rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 991px) {
  .reasons__wrapper {
    padding: 6rem 3.5rem 11.6rem;
    max-width: 83.9rem;
    border-radius: 12.2166px;
  }
}
@media (min-width: 991px) {
  .reasons__wrapper {
    max-width: 100%;
  }
}
@media (min-width: 1440px) {
  .reasons__wrapper {
    padding: 6rem 3.5rem 7.8rem;
  }
}
.reasons__title {
  color: #F74F99;
  text-align: center;
  margin-bottom: 2.4rem;
}
@media (min-width: 991px) {
  .reasons__title {
    max-width: 49.8rem;
  }
}
.reasons__subtitle {
  margin-bottom: 2.4rem;
  text-align: center;
}
@media (min-width: 991px) {
  .reasons__subtitle {
    max-width: 65.9rem;
  }
}
.reasons__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 991px) {
  .reasons__items {
    gap: 2.2rem;
    flex-direction: row;
  }
}
.reasons__items-title {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 0.6rem;
  font-weight: 500;
}
.reasons__items-item {
  padding: 2rem 1.3rem 1.4rem;
  font-size: 1.6rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: white;
  width: 100%;
  min-height: 8.4rem;
  box-shadow: 0px 6.12109px 14.2825px rgba(0, 0, 0, 0.09);
  border-radius: 6.80121px;
  border: 0.680121px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.reasons__items-item::before {
  content: "";
  position: absolute;
  left: calc(50% - 1.2rem);
  top: -1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/reasons/decor.png") 50% 50% no-repeat;
  background-size: contain;
}
@media (min-width: 991px) {
  .reasons__items-item {
    padding: 2rem 0.3rem 1.4rem;
  }
}
@media (min-width: 1440px) {
  .reasons__items-item {
    border-radius: 10px;
    font-size: 1.4rem;
  }
}

.may {
  padding: 7.2rem 0 58rem;
  background: url("../img/may/women-mob.png") center bottom/35.5rem no-repeat, url("../img/may/bg.png") center top/100% 100% no-repeat;
}
@media (min-width: 991px) {
  .may {
    padding: 8.4rem 0 9.8rem;
    background: url("../img/may/women-mob.png") right 8% bottom/39rem no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}
@media (min-width: 1440px) {
  .may {
    padding: 12.8rem 0 8rem;
    background: url("../img/may/women-desc.png") right 8% bottom/45% no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}
@media (min-width: 1800px) {
  .may {
    background: url("../img/may/women-desc.png") right 20% bottom/800px no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}
.may__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.may__text span {
  font-weight: 700;
}
@media (min-width: 991px) {
  .may__text {
    max-width: 44rem;
  }
}
@media (min-width: 991px) {
  .may__text {
    max-width: 42rem;
  }
}

.uz .may {
  padding: 7.2rem 0 58rem;
  background: url("../img/may/women-mob-uzb.png") center bottom/35.5rem no-repeat, url("../img/may/bg.png") center top/100% 100% no-repeat;
}
@media (min-width: 991px) {
  .uz .may {
    padding: 8.4rem 0 9.8rem;
    background: url("../img/may/women-mob-uzb.png") right 8% bottom/39rem no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}
@media (min-width: 1440px) {
  .uz .may {
    padding: 12.8rem 0 8rem;
    background: url("../img/may/women-desc-uzb.png") right 8% bottom/45% no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}
@media (min-width: 1800px) {
  .uz .may {
    background: url("../img/may/women-desc-uzb.png") right 20% bottom/800px no-repeat, url("../img/may/bg-tab.png") center top/100% 100% no-repeat;
  }
}

.for-u {
  padding: 10.2rem 0 45.1rem;
  background: url("../img/for-u/women.png") center bottom/31.4rem no-repeat;
}
@media (min-width: 991px) {
  .for-u {
    padding: 6rem 0 10.5rem;
    background: url("../img/for-u/women.png") right 20% bottom/50rem no-repeat;
  }
}
@media (min-width: 1440px) {
  .for-u {
    padding: 23rem 0 9.5rem;
    background: url("../img/for-u/women.png") left 20% bottom -9rem/50rem no-repeat;
  }
}
@media (min-width: 1440px) {
  .for-u__container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
.for-u__title {
  margin-bottom: 2rem;
  color: #F74F99;
}
@media (min-width: 991px) {
  .for-u__title {
    margin-bottom: 3.2rem;
    max-width: 31rem;
  }
}
@media (min-width: 1440px) {
  .for-u__title {
    max-width: 41.7rem;
  }
}
.for-u__items {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 991px) {
  .for-u__items {
    max-width: 33.1rem;
  }
}
@media (min-width: 1440px) {
  .for-u__items {
    max-width: 40rem;
  }
}
.for-u__items-item {
  padding: 20px 26px 20px 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  box-shadow: 0px 3.99944px 14.9979px rgba(0, 0, 0, 0.08);
  border-radius: 4.9993px;
  position: relative;
}
.for-u__items-item::before {
  content: "";
  position: absolute;
  left: -0.625rem;
  top: calc(50% - 0.625rem);
  width: 1.25rem;
  height: 1.25rem;
  background: #1B101F;
  border-radius: 50%;
}
@media (min-width: 991px) {
  .for-u__items-item {
    border-radius: 5.09025px;
    min-height: 11.3rem;
  }
}
@media (min-width: 1440px) {
  .for-u__items-item {
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 26px 31px 26px 75px;
    min-height: 0;
  }
}

.reviews {
  padding: 10.2rem 0 4rem;
}
@media (min-width: 991px) {
  .reviews {
    background: #FFF9FC;
  }
}
@media (min-width: 991px) {
  .reviews {
    padding: 7.5rem 0 14rem;
  }
}
.reviews__title {
  color: #F74F99;
  margin-bottom: 2rem;
}
.reviews__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 991px) {
  .reviews__items {
    gap: 30px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .reviews__items {
    gap: 35px;
  }
}
.reviews__items-item {
  padding: 4rem 3rem 6rem;
  box-shadow: 0px 2.60431px 32.5539px rgba(0, 0, 0, 0.15);
  border-radius: 7.81294px;
  border: 0.651078px solid #F74F99;
}
@media (min-width: 991px) {
  .reviews__items-item {
    width: 31%;
  }
}
@media (min-width: 1440px) {
  .reviews__items-item {
    padding: 2.7rem 2.2rem 6rem 3.1rem;
  }
}
.reviews__items-item-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1.25rem;
}
@media (min-width: 1440px) {
  .reviews__items-item-title {
    font-size: 1.5rem;
  }
}
.reviews__items-item-text {
  font-weight: 400;
}
@media (min-width: 1440px) {
  .reviews__items-item-text {
    font-size: 1.25rem;
  }
}

.delivery {
  padding: 4rem 0 6.5rem;
}
@media (min-width: 991px) {
  .delivery {
    padding: 13.7rem 0 17.5rem;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .delivery {
    padding: 10.4rem 0 19.5rem;
    position: relative;
  }
}
.delivery__title {
  text-transform: uppercase;
  color: #F74F99;
  margin-bottom: 2.7rem;
}
.delivery__text {
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.delivery__text span {
  color: #F74F99;
}
@media (min-width: 991px) {
  .delivery__text {
    max-width: 31.5rem;
  }
}
@media (min-width: 1440px) {
  .delivery__text {
    max-width: 100%;
  }
}
.delivery__img {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
}
@media (min-width: 991px) {
  .delivery__img {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 42rem;
  }
}

.sale {
  padding: 4.1rem 0 39.2rem;
  background: url("../img/sale/bg.png") center center/100% no-repeat;
  background-size: cover;
}
@media (min-width: 610px) {
  .sale {
    padding: 8rem 0;
    background: url("../img/sale/bg-tab.png") center center/100% no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  .sale {
    padding: 8rem 0 8rem;
    background: url("../img/sale/bg-desc.png") center center/100% no-repeat;
    background-size: cover;
  }
}
.sale__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 610px) {
  .sale__container {
    align-items: flex-start;
  }
}
.sale__title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin-bottom: 2.1rem;
  color: #212121;
  text-align: center;
  max-width: 33rem;
}
.sale__title br {
  display: none;
}
@media (min-width: 610px) {
  .sale__title {
    text-align: left;
    max-width: 46rem;
    margin-bottom: 1.3rem;
  }
  .sale__title br {
    display: block;
  }
}
@media (min-width: 991px) {
  .sale__title {
    font-size: 3.2rem;
  }
}
@media (min-width: 1440px) {
  .sale__title {
    font-size: 3rem;
    max-width: 50rem;
    margin-bottom: 2.9rem;
  }
  .sale__title br {
    display: none;
  }
}
.sale__subtitle {
  display: none;
  margin-bottom: 1.6rem;
}
.sale__subtitle span {
  font-weight: 700;
  color: #F74F99;
}
@media (min-width: 610px) {
  .sale__subtitle {
    display: block;
  }
}
@media (min-width: 1440px) {
  .sale__subtitle {
    display: none;
  }
}
@media (min-width: 610px) {
  .sale .form {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .sale .form {
    width: 100%;
    max-width: 100%;
  }
}
.sale .form__input {
  background: inherit;
  border: 1px solid #212121;
  border-radius: 7.53049px;
}
@media (min-width: 610px) {
  .sale .form__input {
    max-height: 4.8rem;
    max-width: 25.7rem;
  }
}
@media (min-width: 1440px) {
  .sale .form__input {
    max-height: 5rem;
    width: 100%;
    max-width: 45.9rem;
  }
}
.sale .form__subtitle {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.4rem;
  text-align: center;
}
.sale .form__subtitle span {
  font-weight: 700;
  color: #F74F99;
}
.sale .form__button._desc {
  display: none;
}
@media (min-width: 610px) {
  .sale .form__button {
    max-height: 4.8rem;
    max-width: 25.7rem;
  }
  .sale .form__button._mob {
    display: none;
  }
  .sale .form__button._desc {
    display: block;
    font-size: 16.29px;
  }
}
@media (min-width: 1440px) {
  .sale .form__button._desc {
    font-size: 32px;
    font-weight: 700;
    max-height: 4.8rem;
    max-width: 22.6rem;
  }
}

.certificate {
  padding: 5.2rem 0 5.47rem;
  background: #FFF9FC;
}
@media (min-width: 991px) {
  .certificate {
    background: #fff;
  }
}
.certificate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.4rem;
}
@media (min-width: 991px) {
  .certificate__container {
    padding: 4.8rem 7.1rem 6.2rem;
    background: #FFF9FC;
    border-radius: 12.2166px;
  }
}
@media (min-width: 1440px) {
  .certificate__container {
    align-items: flex-start;
    border-radius: 24px;
  }
}
.certificate__title {
  color: #F74F99;
  text-align: center;
  margin-bottom: 1.6rem;
}
.certificate__text {
  text-align: center;
  margin-bottom: 1.6rem;
  max-width: 25rem;
}
@media (min-width: 610px) {
  .certificate__text {
    max-width: 40rem;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .certificate__text {
    text-align: left;
    max-width: 992px;
    margin-bottom: 5rem;
  }
}
.certificate__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 40rem;
  margin: 0 auto;
  gap: 2rem;
}
.certificate__items-img {
  width: 100%;
}
@media (min-width: 991px) {
  .certificate__items-img {
    width: 31%;
  }
}
@media (min-width: 991px) {
  .certificate__items {
    width: 100%;
    max-width: 100%;
    gap: 1.3rem;
  }
}

.footer {
  background: url("../img/footer/bg.png") center center/100% 100% no-repeat;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10.52rem;
}
@media (min-width: 991px) {
  .footer__container {
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    min-height: 17.5rem;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 991px) {
  .footer__logo {
    display: block;
    max-width: 11.4rem;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    display: block;
    max-width: 10.4rem;
  }
}
.footer__text {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 0.6rem;
}/*# sourceMappingURL=style.css.map */